<div id="module">
    <div id="search-box">
        Cerca : <input ng-model="query">
        Ordina per: <select ng-model="orderProp">
                        <option value="name">Alfabetico</option>
                        <option value="age">Uscita</option>
                    </select>
        Categoria : <select autofocus ng-model="orderProp2">
                        <option value="">All</option>
                        <option value="fantasy">Fantasy</option>
                        <option value="fantascienza">Fantascienza</option>
                    </select>
        <a href="#/films/upload"><button>Carica Film</button></a>
    </div>
    <div id="schede">
        <ul>
            <li ng-repeat="film in films | filter:query | filter : orderProp2 | orderBy:orderProp">
                <img src="{{film.photo}}" width="150" height="150px"></br>
                <p><span class="title">{{film.name}}</span></br></p></br>
                <p class="description">{{film.snippet}}</p></br>
                <p class="category">Genere : {{film.category}}</p>
                <p class="exit-date">Uscita : {{film.age}}</p>
                <p class="director">Regia :  {{film.director}}</p>
                <p><a href="#/films/{{film.id}}">{{film.name}}</a></p>
            </li>
        </ul>
    </div>
</div>   