<div id="module">
    <div id="search-box">Cerca : <input ng-model="query"></div>
    <div id="schede">
        <ul>
            <li ng-repeat="film in films | filter:query">
                <img src="{{film.photo}}" width="150" height="70px"></br>
                <p><span class="title">{{film.name}}</span></p></br>
                <p class="description">{{film.snippet}}</p>
                <p><a href="#/films/{{film.id}}">{{film.name}}</a></p>
            </li>
        </ul>
    </div>
</div>   