<form>
    <label for="">Nome Film</label> <input type="text" ng-model="film.name"/>
    <label for="">Descrizione</label> <input type="text" ng-model="film.snippet"/>
    <label for="">Anno Uscita</label> <input type="text" ng-model="film.age" />
    <label for="">Genere</label> <input type="text" ng-model="film.director"></i>  
    <label for="">Regia</label> <input type="text" ng-model="film.category">    
    <button ng-click="reset()">Annulla</button>
    <button ng-click="save()">Salva</button>
</form></br>
        
<a href="#/films"><button>Home</button></a>