<!doctype html>
<html lang="en" ng-app="filmApp">
<head>
  <meta charset="utf-8">
  <title>Libreria Film 0.0.0</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="FilmListCtrl">
<div id="module">
    <div id="search-box">Cerca : <input ng-model="query"></div>
    <div id="schede">
        <ul>
            <li ng-repeat="film in films | filter:query">
                <img src="{{film.photo}}" width="150" height="70px"></br>
                <p><span class="title">{{film.name}}</span></p></br>
                <p class="description">{{film.snippet}}</p>
            </li>
        </ul>
    </div>
</div>    
</body>
</html>
